<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>转推流直播点播测试</title>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script	src="https://cdn.jsdelivr.net/npm/xgplayer@1.1.4/browser/index.js" charset="utf-8"></script>
<script	src="https://cdn.jsdelivr.net/npm/xgplayer-flv.js/browser/index.js"	charset="utf-8"></script>
</head>
<body>

	<div class="flex justify-center">
		<div class="flex-sub text-black text-bold flex justify-center">http方式</div>
		<div class="flex-sub text-black text-bold flex justify-center">ws方式</div>
	</div>
	
	<div class="flex justify-center" style="margin-top: 15px;">
		<div class="flex-sub text-black text-bold flex justify-center">http://localhost:8866/live?url=rtsp://admin:VZCDOY@192.168.2.84:554/Streaming/Channels/102</div>
		<div class="flex-sub text-black text-bold flex justify-center">ws://localhost:8866/live?url=rtsp://admin:VZCDOY@192.168.2.84:554/Streaming/Channels/102</div>
	</div>
	
	<div class="flex justify-center" style="margin-top: 30px;">
		<div class="flex-sub flex justify-center">
			<div id="httpVideo"></div>
		</div>
		<div class="flex-sub flex justify-center">
			<div id="wsVidoe"></div>
		</div>
	</div>
</body>

<script>
	let player1 = new FlvJsPlayer({
		"id" : "httpVideo",
		"url" : "http://localhost:8866/live?url=rtsp://admin:VZCDOY@192.168.2.84:554/Streaming/Channels/102",
		"playsinline" : true,
		"whitelist" : [ "" ]
	});
	
	let player2 = new FlvJsPlayer({
		"id" : "wsVidoe",
		"url" : "ws://localhost:8866/live?url=rtsp://admin:VZCDOY@192.168.2.84:554/Streaming/Channels/102",
		"playsinline" : true,
		"whitelist" : [ "" ]
	});
</script>
</html>
